<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>

<div id="alerts" class="container container-left"></div>
<div id="log" class="container container-right">
	<ul>
		<li>Schiffskomponenten<ul>
			<li>Core</li>
			<li>Navigation</li>
			<li>Science</li>
			<li>Weapons</li>
		</ul></li>

	</ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const container = document.getElementById("alerts");

  const room = prompt("Please enter a Room ID");

  socket.on("connect", () => socket.emit("join_room", room));

  socket.on("send_dashboard", (data) => {
    if (data.text.length > 0) {
      let card = document.createElement("div");
      card.classList.add("card", data.type);

      let pre = document.createElement("div");
      pre.innerText = data.text;

      card.appendChild(pre);
      container.insertBefore(card, container.childNodes[0]);
    }

    if (container.childNodes.length > 10) {
      container.childNodes[container.childNodes.length - 1].remove();
    }
  });
</script>
