<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>

<button id="initialize" onclick="initialize()">HUD initialisieren...</button>

<div id="alerts" class="container container-left"></div>
<div id="log" class="container container-right">
	<ul class="status-list">
		<li id="component">Schiff
			<ul>
				<li id="component-core">
					Core
					<ul>
						<li id="component-core-oxygen">
							Sauerstoff
						</li>
						<li id="component-core-gravity">
							Schwerkraft
						</li>
						<li id="component-core-power">
							Antrieb
						</li>
					</ul>
				</li>
				<li id="component-navigation">
					Navigation
				</li>
				<li id="component-science">
					Science
				</li>
				<li id="component-weapons">
					Weapons
				</li>
			</ul>
		</li>
	</ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const container = document.getElementById("alerts");

  const room = prompt("Please enter a Room ID");

  socket.on("connect", () => socket.emit("join_room", room));

  socket.on("send_dashboard", (data) => {
    new Audio('/audio/notification.mp3').play();

    if (data.text && data.text.length > 0) {
      let card = document.createElement("div");
      card.classList.add("processing", "card", data.type);

      let pre = document.createElement("div");
      pre.innerText = data.text;

      card.appendChild(pre);
      container.insertBefore(card, container.childNodes[0]);
      setTimeout(function(){
        card.classList.remove("processing");
      }, 10);
      setTimeout(function(){
        var aussage = new SpeechSynthesisUtterance(data.text);
        aussage.voice =speechSynthesis.getVoices()[2]
        window.speechSynthesis.speak(aussage);
      }, 200);
    }

    if (data.component) {
        let component = document.getElementById(data.component);
        if (data.status === "repair")
			component.className = "";
		else if (data.status === "warn")
			component.className = "alert-text";
		else if (data.status === "destroy")
			component.className = "danger-text";
    }

    if (container.childNodes.length > 10) {
      container.childNodes[container.childNodes.length - 1].remove();
    }
  });

  const initialize = () => {
    document.body.setAttribute("data-loaded", "true");
  };
</script>
