<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<div class="container container-center">
	<h1>Sender View</h1>

	<label for="room">Room ID</label>
	<br/>
	<input id="room" name="room"/>

	<br/>
	<br/>

	<label>Type</label>
	<br/>
	<div>
		<input type="radio" id="info" name="type" value="info">
		<label for="info">Info</label>
		<input type="radio" id="alert" name="type" value="alert">
		<label for="alert">Alert</label>
		<input type="radio" id="danger" name="type" value="danger">
		<label for="danger">Danger</label>
	</div>

	<br/>
	<br/>

	<label for="textbox">Message</label>
	<br/>
	<textarea id="textbox" name="textbox" cols="50" id="box" rows="4" type="text"></textarea>

	<br/>
	<br/>

	<button id="input" onclick="send()">
		Send!
	</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const roomBox = document.getElementById("room");
  const typeBox = document.querySelector('[name="type"]:checked');
  const textBox = document.getElementById("box");

  const send = () => {
    let payload = {
      room: roomBox.value,
      type: typeBox.value,
      text: textBox.value,
    };

    socket.emit("send_sender", payload);

    selectBox.value = "info";
    textBox.value = "";
  };
</script>
