<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/css/style.css" rel="stylesheet" />
  <link
    crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    rel="stylesheet"
  />
</head>
<div class="container container-center">
  <h1>Sender View</h1>

  <label for="room">Room ID</label>
  <br />
  <input id="room" name="room" />

  <br />
  <br />

  <label>Type</label>
  <br />
  <div>
    <input id="info" name="type" type="radio" value="info" checked="checked"/>
    <label for="info">Info</label>
    <input id="alert" name="type" type="radio" value="alert" />
    <label for="alert">Alert</label>
    <input id="danger" name="type" type="radio" value="danger" />
    <label for="danger">Danger</label>
  </div>

  <br />
  <br />

  <label for="textbox">Message</label>
  <br />
  <textarea
    cols="50"
    id="textbox"
    name="textbox"
    rows="4"
    type="text"
  ></textarea>

  <br />
  <br />

  <button id="input" onclick="send()">
    Send!
  </button>

  <br />
  <br />

  <details>
    <summary>Shiphull</summary>

    <label>Ganzes Schiff</label>
    <div>
      <button onclick="sendStatus('component', 'repair')">Repair</button>
      <button onclick="sendStatus('component', 'warn')">Warn</button>
      <button onclick="sendStatus('component', 'destroy')">Destroy</button>
    </div>

    <br />

    <label>Core</label>
    <div>
      <button onclick="sendStatus('component-core', 'repair')">Repair</button>
      <button onclick="sendStatus('component-core', 'warn')">Warn</button>
      <button onclick="sendStatus('component-core', 'destroy')">Destroy</button>
    </div>

    <br />

    <label>Oxygen</label>
    <div>
      <button onclick="sendStatus('component-core-oxygen', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-core-oxygen', 'warn')">
        Warn
      </button>
      <button onclick="sendStatus('component-core-oxygen', 'destroy')">
        Destroy
      </button>
    </div>

    <br />

    <label>Gravity</label>
    <div>
      <button onclick="sendStatus('component-core-gravity', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-core-gravity', 'warn')">
        Warn
      </button>
      <button onclick="sendStatus('component-core-gravity', 'destroy')">
        Destroy
      </button>
    </div>

    <br />

    <label>Antrieb</label>
    <div>
      <button onclick="sendStatus('component-core-power', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-core-power', 'warn')">Warn</button>
      <button onclick="sendStatus('component-core-power', 'destroy')">
        Destroy
      </button>
    </div>

    <br />

    <label>Navigation</label>
    <div>
      <button onclick="sendStatus('component-navigation', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-navigation', 'warn')">Warn</button>
      <button onclick="sendStatus('component-navigation', 'destroy')">
        Destroy
      </button>
    </div>

    <br />

    <label>Science</label>
    <div>
      <button onclick="sendStatus('component-science', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-science', 'warn')">Warn</button>
      <button onclick="sendStatus('component-science', 'destroy')">
        Destroy
      </button>
    </div>

    <br />

    <label>Weapons</label>
    <div>
      <button onclick="sendStatus('component-weapons', 'repair')">
        Repair
      </button>
      <button onclick="sendStatus('component-weapons', 'warn')">Warn</button>
      <button onclick="sendStatus('component-weapons', 'destroy')">
        Destroy
      </button>
    </div>
  </details>

  <br />
  <br />

  <label>Presets</label>
  <ul id="presetsContainer"></ul>
  <br />
  <input id="presetbox" placeholder="Enter a new Preset" />
  <br />
  <button onclick="createPreset()">
    Save Preset
  </button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const roomBox = document.getElementById("room");
  const textBox = document.getElementById("textbox");
  const presetsContainer = document.getElementById("presetsContainer");
  const presetsJson = localStorage.getItem("presets");

  let presets = presetsJson === null ? [] : JSON.parse(presetsJson);
  roomBox.value = prompt("Please enter a Room ID");

  const send = () => {
    let payload = {
      room: roomBox.value,
      type: document.querySelector('[name="type"]:checked').value,
      text: textBox.value,
    };

    socket.emit("send_sender", payload);

    textBox.value = "";
    console.log("Send Message:", payload);
  };

  const sendStatus = (component, status) => {
    let payload = {
      room: roomBox.value,
      component: component,
      status,
      status,
    };

    socket.emit("send_sender", payload);

    console.log("Send Status:", payload);
  };

  const createPreset = () => {
    const presetBox = document.getElementById("presetbox");
    const message = presetBox.value;

    presets.push(message);
    localStorage.setItem("presets", JSON.stringify(presets));
    presetBox.value = "";
    addToPresetContainer(message);
  };

  const selectPreset = (e) => {
    const message = e.target.innerText;
    textBox.value = message;
  };

  const removePreset = (e) => {
    const message = e.target.parentNode.firstChild.innerText;
    presets = presets.filter((item) => item !== message);
    localStorage.setItem("presets", JSON.stringify(presets));

    presetsContainer.textContent = "";
    presets.forEach(addToPresetContainer);
  };

  const addToPresetContainer = (message) => {
    let item = document.createElement("li");
    item.classList.add("preset-item");

    let sendButton = document.createElement("button");
    sendButton.innerText = message;
    sendButton.addEventListener("click", selectPreset);
    item.appendChild(sendButton);

    let removeIcon = document.createElement("i");
    removeIcon.setAttribute("class", "fas fa-trash-alt remove-preset");
    removeIcon.addEventListener("click", removePreset);
    item.appendChild(removeIcon);

    presetsContainer.appendChild(item);
  };

  presets.forEach(addToPresetContainer);
  
  document.addEventListener("DOMContentLoaded", function(event) { 
    document.body.setAttribute("data-loaded", "true");
  });
</script>
